<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Income List</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<h1>Income List</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Source</th>
        <th>Amount</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="income : ${incomes}">
        <td th:text="${income.id}"></td>
        <td th:text="${income.source}"></td>
        <td th:text="${income.amount}"></td>
    </tr>
    </tbody>
    <form action="/incomes/createIncome" method="post" th:object="${newIncome}">
        <label for="source">Source:</label>
        <input type="text" id="source" name="source" th:field="*{source}" required>
        <br>
        <label for="amount">Amount:</label>
        <input type="text" id="amount" name="amount" th:field="*{amount}" required>
        <br>
        <button id="submit-button" type="submit">Add Income</button>
    </form>
</table>
</body>
</html>
